<html>
    <head>
        <title>Vue Test</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="src/app.css" />
    </head>
    <body>
        <div v-cloak id="app">
            <form v-on:submit="search">
                <input type="text" name="name" v-model="query" placeholder="Enter country">
                <input type="submit" value="Search">
            </form>
            <div>
                <ul>
                    <li v-for="country in results">
                        Name: {{ country.name }} <br />
                        Capital: {{ country.capital }} <br />
                        Population: {{ country.population }} <br />
                        Area: {{ country.area }} <br />
                        <img :src="country.flag" alt="" height="30px">
                    </li>
                </ul>
            </div>
        </div>
        <script src="src/app.js"></script>
    </body>
</html>